include HISTORY.txt
include LICENSE
include MANIFEST.in
include README.md
include requirements.txt

recursive-include src/physt/examples *.csv
recursive-include tests/data *.*
recursive-exclude src/physt *.pyc
recursive-exclude tests *.pyc
