-r requirements.txt
pylint
pytest
black

# Optionals that are testes
pandas
xarray
matplotlib
plotly

# Mypy
mypy
types-setuptools

# Doc
sphinx
sphinx_rtd_theme
sphinxcontrib-apidoc
nbsphinx
pre-commit
tox
tox-conda
